/* .body{
    background-color: black;
} */

.fancy-border {
    border: 1px solid;
    border-image-source:
      linear-gradient(291.01deg, rgba(37, 176, 33, 0) 57.08%, rgba(37, 176, 33, 0.24) 82.89%),
      linear-gradient(99.14deg, rgba(37, 176, 33, 0) 75.64%, rgba(37, 176, 33, 0.24) 96.21%);
    border-image-slice: 1;
  }